# Backend auth
AUTH_SECRET=here

# xAI 
XAI_API_KEY=xai-bI59XwTIYh9ybBCyPd70LnMXmRZtXwYv5vmRCu3wxhTjXZf6kJV7Fu0VtRuAx48PZRAXeJREHk3a0bLt
XAI_API_URL=https://api.x.ai/v1/chat/completions
XAI_MODEL=grok-2-latest
XAI_TIMEOUT_SECONDS=25
XAI_TEMPERATURE=0.3

# 2GIS api
#DGIS_API_KEY=0dd55685-621b-43a8-bac3-b1d8ca27d3da
#DGIS_ROUTING_TIMEOUT_SECONDS=10
# mapbox
